# C++Builder build output
Win64x/
Win32/
Win64/

# IDE local/temp files
__history/
__recovery/
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.dsv
*.~*
*.bak
*.@@@
*.twopts
*.stat

# Compiled objects / debug info
*.d
*.o
*.obj
*.pch
*.gch
*.ilk
*.pdb
*.tds

# Binaries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.out
*.app

# Temporary files
*.tmp
*.log
*.swp

# test output
selftest.txt
Testing/
.cache/
